<div style="position: absolute; top: 50%; left: 50%; text-align: center; transform: translate(-50%, -50%);">
  <p><a href="/">Welcome page</a></p>
  <p><a href="/bacon">Bacon page</a></p>
  <p><a href="/checkout">Checkout page</a></p>
</div>
