@layout('layouts/main')
@set('title', 'Bacon factory')

@section('body')
  <div id="baconPage" class="bacon-page">
    @!component('snowdog/bacon', {
      img: '/images/bacon.jpg'
    })
  </div>
@end
