.checkout-page {
  margin: 30px auto;

  @include respond-above('lg') {
    margin: auto;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 2px solid #7b8187;
    background-color: transparent;
    color: #212834;
    text-align: center;
    transition: all .5s;
    position: fixed;
    z-index: 100;
    padding: 50px 20px;
    background-color: #f2f2f2;
    font-size: 16px;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: none;

    &.message--success {
      display: block;
      border: 2px solid $color-success-light;
      color: $color-success-light;
    }

    &.message--error {
      display: block;
      border: 2px solid $color-error-light;
      color: $color-error-light;
    }
  }

  .form {
    .form-section {
      margin-right: 0;

      @include respond-above('lg') {
        margin-right: -10px;
      }

      .form__group {
        margin-bottom: 20px;

        .row {
          padding-left: 20px;
        }

        .form__title {
          display: flex;
          align-items: center;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 18px;
          padding-left: 0;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 14px;
            font-weight: 500;
            padding-left: 1px;
            padding-top: 1px;
            margin-right: 8px;
          }

          svg {
            margin-left: 9px;
            margin-bottom: 1px;
          }
        }

        .input-group {
          margin-bottom: 20px;
          margin-left: 0px;
          position: relative;
          padding-right: 0;

          @include respond-above('md') {
            &.input-group--half {
              &:nth-of-type(1) {
                padding-right: 0.5rem;
              }
            }
          }

          @include respond-above('lg') {
            padding-right: 0.5rem !important;
          }

          .input-group__label {
            display: inline-block;
            margin-bottom: 0;
            position: absolute;
            left: 18px;
            top: 9px;
            font-size: 12px;
            font-weight: 500;
          }

          .input-group__input {
            display: block;
            width: 100%;
            padding: 25px 10px 6px 10px;
            font-size: 17px;
            font-weight: 400;
            color: #495057;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 5px -3px #b9b9b9;
            -moz-box-shadow: 0px 0px 5px -3px #b9b9b9;
            box-shadow: 0px 0px 5px -3px #b9b9b9;
            transition: box-shadow .15s ease-in-out;
            border: none;
            border-radius: 3px;
            transition: all .2s;
            box-sizing: border-box;
            min-height: 53px;
            border-bottom: 2px solid #a9acaf5e;

            &.error {
              border-bottom: 2px solid $color-error-dark !important;
            }

            &::placeholder {
              color: #a9acaf;
            }

            &:focus-visible {
              outline: none;
              border-bottom: 2px solid $color-error-dark;
            }

            &:focus {
              border-bottom: 2px solid $color-success-light;
            }
          }

          .input-group__select {
            display: block;
            width: 100%;
            padding: 25px 10px 6px 10px;
            font-size: 17px;
            font-weight: 400;
            color: #495057;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 5px -3px #b9b9b9;
            -moz-box-shadow: 0px 0px 5px -3px #b9b9b9;
            box-shadow: 0px 0px 5px -3px #b9b9b9;
            transition: box-shadow .15s ease-in-out;
            border: none;
            border-radius: 3px;
            height: 54px;
            transition: all .2s;
            box-sizing: border-box;
            border-bottom: 2px solid #a9acaf5e;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            &.error {
              border-bottom: 2px solid $color-error-dark !important;
            }

            &::placeholder {
              color: #a9acaf;
            }

            &:focus-visible {
              outline: none;
              border-bottom: 2px solid $color-error-dark;
            }

            &:focus {
              border-bottom: 2px solid $color-success-light;
            }

            &::after {
              content: "\f078 ";
              font-family: FontAwesome;
              position: absolute;
              right: 18px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              font-size: 12px;
            }
          }

          .visa-logo {
            position: absolute;
            right: 20px;
            bottom: 50%;
            transform: translate(0, 48%);
            padding: 0 7px;
            border: 1px solid #dfe0e2;
            border-radius: 4px;
            display: none;

            @media (min-width: 360px) {
              display: flex;
            }

            img {
              width: 26px;
              height: auto;
              display: inline-block;
            }
          }

          .question-mark {
            position: absolute;
            right: 18px;
            bottom: 50%;
            transform: translate(0, 50%);
            color: #dfe0e2;
            font-size: 20px;
            display: none;

            @media (min-width: 360px) {
              display: initial;
            }
          }

          .input-group__message {
            position: absolute;
            bottom: -16px;
            right: 7px;
            font-size: 11px;
            text-align: right;
            opacity: 0;
            transition: all .2s;

            &.is-visible {
              opacity: 1;
            }

            &.input-group__message--error {
              color: $color-error-dark;
            }
          }
        }
      }
    }
  }

  .summary-section {
    .summary-wrapper {
      padding: 6px;
      background: white;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 5px -3px #b9b9b9;
      -moz-box-shadow: 0px 0px 5px -3px #b9b9b9;
      box-shadow: 0px 0px 5px -3px #b9b9b9;
      border-bottom: 2px solid #a9acaf5e;
      border-radius: 3px;
      margin-bottom: 20px;

      @include respond-above('lg') {
        margin-top: 38px;
        margin-bottom: 0;
      }

      .summary {
        box-sizing: border-box;
        padding: 14px;
        padding-bottom: 30px;
        height: 100%;
        width: 100%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23DFE0E2FF' stroke-width='3' stroke-dasharray='2%2c 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 3px;

        .summary__title {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 19px;
        }

        hr {
          border-top: 1px dashed #dfe0e2;
          margin: 15px 0;
        }

        .summary__products {
          .summary__product {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 15px;

            &:last-of-type {
              margin-bottom: 22px;
            }

            p {
              margin-bottom: 0;
            }
          }
        }

        .summary__purchases {
          .summary__purchase {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 15px;

            p {
              margin-bottom: 0;
            }
          }
        }

        .summary__total {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          align-items: flex-start;

          p {
            font-weight: 700;
            margin-bottom: 0;
          }

          span {
            font-weight: 700;
            font-size: 25px;
          }
        }
      }

    }
  }

  .button-wrapper {
    width: 100%;

    @include respond-above('lg') {
      padding-left: 35px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $color-success-light;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      padding: 15px;
      border: none;
      border-radius: 3px;
      border-bottom: 2px solid $color-success-dark;
      letter-spacing: .3px;
      height: 54px;
      -webkit-box-shadow: 0px 0px 5px -3px #b9b9b9;
      -moz-box-shadow: 0px 0px 5px -3px #b9b9b9;
      box-shadow: 0px 0px 5px -3px #b9b9b9;
      cursor: pointer;
      font-weight: 600;

      svg {
        margin-right: 6px;
      }
    }
  }
}
