@import '../scss/layout/grid';
@import '../scss/layout/breakpoints';
@import '../scss/layout/containers';
@import '../scss/utilities/variables';
@import '../scss/pages/welcome';
@import '../scss/pages/bacon';
@import '../scss/pages/checkout';
@import '../scss/partials/tooltip';

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $color-background-gray;
  font-family: "Roboto", sans-serif;
  color: $color-text-main;
  position: relative;

  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
