@import '../css/variables.scss';

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-background-gray;
  font-family: "Roboto", sans-serif;
  color: $color-text-main;
  position: relative;

  main {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .welcome-page {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
