.bacon-page {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;

  section {
    &:nth-child(1) {
      button {
        position: fixed;
        top: 30px;
        left: 30px;
        border-radius: 20px;
        padding: 9px 18px;
        border: none;
        background: #5A45FF;
        color: white;
        cursor: pointer;
      }
    }

    &:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      max-height: 100vh;

      img {
        display: inline-block;
        width: 50%;
      }
    }
  }
}
