$color-success-light: #6bd500;
$color-success-dark: #5eb903;
$color-success-transparent: #6bd50124;

$color-error-light: #dd6159;
$color-error-dark: #da544a;
$color-error-transparent: #da544a24;

$color-text-main: #141e29;
$color-background-gray: #f2f2f2;