@layout('layouts/main')
@set('title', 'Checkout page')

@section('body')
<main class="container checkout-page">
  <div class="row">
    {{--  Form section  --}}
    <form class="col-xs-12 col-md-8 form" id="completePurchaseForm">
      {{ csrfField() }}
      <div class="message"></div>
      @include('partials/form-section')
    </form>

    {{--  Summary section  --}}
    @include('partials/summary-section')
  </div>
</main>
@end
